.board {
  display: grid;
  grid-gap: 1px;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.empty {
  background: grey;
}
.occupied {
  background: black;
}
.shape {
  background: yellow;
}
