.board {
  display: grid;
  grid-gap: 1px;
  font-size: 0;
  border: 4px solid rgb(146, 106, 146);
  border-radius: 3px;
  position: relative;
  &.paused {
    position: relative;
    &::after {
      z-index: 999;
      content: "Paused";
      color: #fafafa;
      font-size: 24px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.9;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .gameOverInfo {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fafafa;
    font-size: 24px;
    background: black;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      margin: 10px;
    }
  }
}

.empty {
  background: #fafafa;
}
.occupied,
.shape {
  background: purple;
  transition: all 0.1s ease-in-out;
  position: relative;
  border: 1px solid black;
  border-radius: 2px;
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 30%;
    background: #fff;
    height: 2px;
    opacity: 0.5;
    border-radius: 50px;
    top: 3px;
    left: 3px;
  }
  &::before {
    transform: rotate(90deg);
    top: 20%;
    left: -10%;
  }
}
.shape {
  z-index: 9;
  background: rgb(223, 223, 94) !important;
  transition: none;
}
.matrix {
  // background: red;
}
